@import '../colors.scss';

#nav-bar-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: $palatinate-purple;
    
    #a {
        color: white;

        &:visited {
            color: white;
        }
            
    }
}


