#central-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: thick solid;
        border-color: white;
        border-radius: 2vh;
        font-size: 2vw; 
        background-color: $palatinate-purple;
        margin: 5vh;

}

.main-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25em;
    margin: 3vw;
    
}


img {
    height: auto;
    width: auto;
    max-width: 40%;
    align-self: center;
    border-radius: 1vh;
    
}

h1 {
    text-align: center;
    font-size: 2em;
}

@media (max-width: 800px) and (max-width: 470px) {
    .main-text {
        font-size: 2em;
    }
    
    #central-section {
        flex-direction: column;
        
    }
}


